!!! 5
html
  head 
    //- Google web font Titillium
    link(href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,700", rel="stylesheet", type="text/css")
    
    // jQuery
    script(src="http://code.jquery.com/jquery-1.9.1.js", type="text/javascript")
    
    // jQuery UI
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js", type="text/javascript")
    link(type="text/css", rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/blitzer/jquery-ui.css")
    
    // jQuery Color plugin
    script(src="http://code.jquery.com/color/jquery.color-2.1.2.min.js", type="text/javascript")

    // jqPlot 
    script(src="http://peterbloem.nl/jqplot/jquery.jqplot.min.js", type="text/javascript")
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.logAxisRenderer.js", type="text/javascript")
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.canvasTextRenderer.min.js", type="text/javascript") 
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js", type="text/javascript") 
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.barRenderer.min.js", type="text/javascript")  
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.highlighter.min.js", type="text/javascript")
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.cursor.min.js", type="text/javascript")
    link(type="text/css", rel="stylesheet", href="http://peterbloem.nl/jqplot/jquery.jqplot.min.css")
    

    // jqPlot local plugins
    script(src="../../../javascript/jqplot.differentColorMarkerLineRenderer.js", type="text/javascript")
    
    // Platform JS 
    script(src="../../../javascript/base.platform.js", type="text/javascript")  
    
    // Patform styling
    link(type="text/css", rel="stylesheet", media="all", href="../../../css/common.platform.css")
    link(type="text/css", rel="stylesheet", media="screen", href="../../../css/screen.platform.css")
    
    title Instance results/title

body#body(class="instance #{tags}")

  ul.menu
    li
      a.inner(href="../../../index.html")
        | Workflow: 
        span #{workflow_name}
    li
      a.inner(href="../index.html")
        | Module: 
        span #{name}
    li
      span.inner
        | Instance: 
        span #{instance}
  
  h2 Results  
  for output in outputs
    h3 Result: #{output.name}
    p.description
      #{output.description}
    .value 
      !{output.value}
  
  h2 Inputs
  p.explanation Inputs for this instance
  
  
  for input in inputs
    h3 In: #{input.name}
    p.description
      #{input.description}
    .value
      !{input.value}
