!!! 5
html 
  head
    //- Google web font Titillium
    link(href="http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200,700", rel="stylesheet", type="text/css")
    
    // jQuery
    script(src="http://code.jquery.com/jquery-1.9.1.js", type="text/javascript")
    
    // jQuery UI
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js", type="text/javascript")
    link(type="text/css", rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/blitzer/jquery-ui.css")
    
    // jQuery Color plugin
    script(src="http://code.jquery.com/color/jquery.color-2.1.2.min.js", type="text/javascript")

    // jqPlot 
    script(src="http://peterbloem.nl/jqplot/jquery.jqplot.min.js", type="text/javascript")
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.logAxisRenderer.js", type="text/javascript")
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.canvasTextRenderer.min.js", type="text/javascript") 
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js", type="text/javascript") 
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.barRenderer.min.js", type="text/javascript")  
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.highlighter.min.js", type="text/javascript")
    script(src="http://peterbloem.nl/jqplot/plugins/jqplot.cursor.min.js", type="text/javascript")
    link(type="text/css", rel="stylesheet", href="http://peterbloem.nl/jqplot/jquery.jqplot.min.css")
    

    // jqPlot local plugins
    script(src="../../javascript/jqplot.differentColorMarkerLineRenderer.js", type="text/javascript")
    
    // Platform JS 
    script(src="../../javascript/base.platform.js", type="text/javascript")  
    
    // Patform styling
    link(type="text/css", rel="stylesheet", media="all", href="../../css/common.platform.css")
    link(type="text/css", rel="stylesheet", media="screen", href="../../css/screen.platform.css")
    
    
    title Module results
  
  body#body(class="module #{tags}")

    ul.menu
      li
        a.inner(href="../../index.html")
          | Workflow: 
          span #{workflow_name}
      li
        span.inner
          | Module: 
          span #{name}

    h2 Outputs

    for output in outputs
      div.section.output
        h3 
          | Result: 
          span.output-name #{output.name}
          
        p.description #{output.description}
      
        if instantiated
          .output.js-tabs
            ul
              li: a(href="#tab-summary") Summary
              li: a(href="#tab-full") Full data
              
            //- The tab with the summary of this output (graph, means etc).
            #tab-summary 
              if output.is_numeric
                .graph.chart-container(data-source="data-table-#{output.safe_name}")
              table
                tr
                  th mode
                  td #{output.mode} (#{output.mode_frequency})
                tr
                  th instances
                  td #{output.num_instances}
          
                if output.is_numeric
                  tr
                    th mean 
                    td #{output.mean}
                    
                  tr
                    th std dev
                    td #{output.dev}
                     
                  tr
                    th median
                    td #{output.median}
          
                tr
                  th entropy
                  td #{output.entropy}
                          
            //- The tab with the full data for this output          
            #tab-full 
              table(class="data-table-#{output.safe_name}")
                tr.names
                  for input_name in input_names
                    th.input #{input_name}
                  th.output #{output.name}
                
                for instance in output.instances
                  tr
                    for input in instance.inputs
                      td.input #{input}
                    td.output #{instance.output}
        else 
          Module not yet instantiated.
        
    h2 Instances
    p.explanation This module's instances, and their results pages.
    
    if instantiated
      table.instances
        tr
          for input_name in input_names
            th #{input_name}
          th instance
  
        for instance in instances
          tr
            for input in instance.inputs
              td: #{input}
            td: a(href="#{instance.url}", target="This instance's report") report

    else 
      Module not yet instantiated.
          
    h2 Inputs
    p.explanation This module's inputs
    
    for input in inputs
      .section.input
      
        h3 In: #{input.name}
        p.description #{input.description}
      
        ul.values
          for value in input.values
            li.value #{value}
  